{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} English Songs {% endblock title %}

{% block body %}

<br>
<!-- English Songs -->
<div class="container">
  <header class="section-heading">
    <h5 class="section-title">영어 음악</h5>
  </header>
  <hr>
  <!-- Song list -->
  <div class="row">
    {% if english_songs %}
    {% for song in english_songs %}
    <div class="col-md-2" style="margin:1%">
              <div class="hovereffect d-flex justify-content-center align-items-center">
                <img src="{{ song.song_img.url}}"  height="160" width="160" style="border-radius: 8px 8px 8px 8px;">
                <div class="overlay">
                    <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    <h6 class="text-light">{{song.name}}</h6>
                 </div>
              </div>
          </div>
          <div class="col-md-2 d-flex d-block d-sm-none d-md-none align-items-center justify-content-center">
        <h6>{{song.name}}</h6>
      </div>
    {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock body %}