@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body {
    background-color: lightgray;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: dimgray;
    list-style-type: none;
}

.nav-item {
    padding: 15px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: black;
}

.nav-item:nth-child(1) {
    background-color: burlywood;
    width: auto;
}

.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.main-container {
    border: 1px solid black;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 80%;
    float: left;
}

.main-container h2 {
    margin-top: 10%;
}

.sub-container {
    float: right;
    position: fixed;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
    top: 30%;
    width: 12%;
    height: auto;
    right: 1%;
}