{% extends 'videoapp/v_base.html' %} {% block title %} {{video.name}} {% endblock title %} {% block header %}
<style>
    .heart {
        font-size: 25px;
        color: red;
    }
</style>
{% endblock header %} {% block body %}
<div class="container bg-light">
    <video class="container" controls width="1136" height="639">
            <source src="{{video.video_file.url}}">
        </video>
    <h3>{{video.name}}</h3>
    <br>
    <br>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">댓글창</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">{{ comment_form }}</div>
                <button type="submit" class="btn btn-primary">작성하기</button>
            </form>
        </div>
    </div>

    {% for comment in comments %}
 
    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.comment_user }}</h5>
            <h5 class="mt-0">{{ comment.comment_date }}</h5>
            <h5 class="mt-0">{{ comment.comment_thumbnail_url }}</h5>
            <h5 class="mt-0">{{ comment.comment_textfield }}</h5>
        </div>
    </div>
 
    {% endfor %}
</div>
{% endblock body %}